.main-header {
  min-height: 41px;
  padding: 0 23px;
  padding-top: 10px;
  margin-bottom: 20px;
  display: flex;
    }

.main-header__logo {
  justify-content: flex-start;
  width: auto;
  margin-right: auto;
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.main-header__navigation {
  display: none;
}

.main-header__controls-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 30px;
  min-width: 60px;
}

.main-header__controls-item {
  transition-duration: 0.3s;

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}

.main-header__nav-button {
  position: relative;
  font-size: 0;
  width: 41px;
  height: 41px;
  padding: 0;
  transition-duration: 0.3s;

  &:before,
  &:after {
    content: '';
    position: absolute;
    display: block;
    height: 2px;
    background-color: $white;
    right: 2px;
    border-radius: 5px;
  }

  &:before {
    top: 35%;
    width: 35px;
  }

  &:after {
    top: 55%;
    width: 25px;
  }

  &:hover,
  &:focus {
    transform: scale(1.2);
  }

  &:active {
    transform: scale(0.9);
  }
}
