@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/SF-UI-DisplayRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/SF-UI-DisplayBold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
