// widths
$mobile-width: 320px;

//colors
$main-orange: #FF970A;
$white: #FFFFFF;
$black: #000000;
$border-gray: #EBEBEB;
$text-grey: #A3A3A3;
$popup-background: linear-gradient(310deg, #000000 -120.88%, rgba(155, 155, 155, 0.3) 127.52%);;
$faq-text-grey: #6A6A6A;
$footer-border-grey: #D5DAE0;
$slider-button-background: rgba(0, 0, 0, 0.24);
$close-button-color: rgba(255, 255, 255, 0.5);
$select-background: #F5F5F5;
$intro-link-background: linear-gradient(124.94deg, #000000 -120.88%, rgba(155, 155, 155, 0) 127.52%);

//font-family
$font-primary: "SF-UI-Display",
"Arial",
sans-serif;
$font-primary-bold: "SF-UI-DisplayBold",
"Arial",
sans-serif;

//retina stats
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


//animation
@keyframes right-left {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: 20px;
  }
}
